<ec-page>
  <form [formGroup]="form">
    <div class="flex">
      <ec-form class="w-1/4"
               *ngIf="document$ | async as document"
               (discard)="resetForm(document)"
               (save)="saveDocument()">
        <ec-form-field [abstractControl]="form.controls.title" controlType="text" label="document.field.title"></ec-form-field>
      </ec-form>

      <div ecSection class="w-3/4">
        <ng-container formArrayName="blocks">
          <ng-container *ngFor="let block of blocks.controls; let i=index">
            <div [formGroupName]="i">
              <div *ngIf="editableBlockIndex !== i" [innerHTML]="block.get('content')?.value"
                   (click)="editableBlockIndex = i"></div>
              <div *ngIf="editableBlockIndex === i" class="mt-5 mb-5 NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor"
                                 [toolbar]="toolbar">
                </ngx-editor-menu>
                <ngx-editor [editor]="editor"
                            formControlName="content"
                            placeholder="Scrie textul...">
                </ngx-editor>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <button ecButton class="bg-blue-500 mt-10 w-1/4"
                (click)="addBlock()">
          {{'document.block.add' | translate}}
        </button>
      </div>
    </div>
  </form>
</ec-page>
