<div ecSection>
  <ng-content></ng-content>

  <div class="float-right"
       *ngIf="formService.editable">
    <h1 ecButton type="secondary" class="inline"
        (click)="discard.emit()">
      {{discardLabel || 'common.cancel' | translate}}
    </h1>
    <button ecButton class="bg-green-500 ml-2 px-5"
            [disabled]="(formService.saveEnabled$ | async) === false"
            (click)="formService.untouchForm(); save.emit()">
      {{saveLabel || 'common.save' | translate}}
    </button>
  </div>
</div>
