<div class="ml-4 mr-4">
  <h1 class="text-lg mb-3"
      *ngIf="title">{{title | translate}}
  </h1>

  <xng-breadcrumb>
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
      <ng-container *ngIf="info"><i class="fa {{info}}"></i></ng-container>
      <ng-container *ngIf="!first">{{breadcrumb | translate}}</ng-container>
    </ng-container>
  </xng-breadcrumb>

  <div class="mt-4">

    <div class="w-2/5 mb-4">
      <ec-alert *ngIf="alert" [show]="!!alert" [type]="alert.type"
                [dismissAfter]="alert.type === 'success' && 4000 || 0">
        {{alert.message.i18nKey | translate : alert.message?.i18nArgs}}
      </ec-alert>
    </div>

    <ng-content></ng-content>
  </div>
</div>
