<div class="ml-4 mr-4">
  <h1 class="text-lg mb-3"
      *ngIf="title">{{title | translate}}
  </h1>

  <div class="flex">
    <xng-breadcrumb class="flex-grow">
      <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
        <ng-container *ngIf="info"><i class="fa {{info}}"></i></ng-container>
        <ng-container *ngIf="!first">{{breadcrumb | translate}}</ng-container>
      </ng-container>
    </xng-breadcrumb>

    <div class="flex-none w-1/5">
      <ng-content select="[top-right]"></ng-content>
    </div>
  </div>

  <div class="mt-4">
    <ng-content></ng-content>
  </div>
</div>
