<ng-container [ngSwitch]="controlType">
  <div class="mb-4 md:mb-6 text-gray-700">
    <label class="block mb-1 font-medium" *ngIf="label">{{label | translate}}</label>

    <ng-container *ngSwitchCase="'custom'">
        <ng-content></ng-content>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <input ecFormInput
             [hasErrors]="!!control.errors"
             [isTouched]="control.touched"
             [type]="controlType"
             [formControl]="control"
             [placeholder]="placeholder || '' | translate">
    </ng-container>

    <ng-container *ngIf="control.errors && control.touched"
                  [ngTemplateOutlet]="errors"
                  [ngTemplateOutletContext]="{$implicit: control.errors}">
    </ng-container>
  </div>
</ng-container>

<ng-template #errors let-errors>
  <div class="text-xs text-red-700"
       *ngFor="let error of errors | keyvalue">
    <ng-container [ngSwitch]="error?.key">
      <ng-container *ngSwitchCase="'maxlength'">
        {{errorMessage(error.key)?.i18nKey || 'field.error.maxlength' | translate : error.value}}
      </ng-container>
      <ng-container *ngSwitchCase="'minlength'">
        {{errorMessage(error.key)?.i18nKey || 'field.error.minlength' | translate : error.value}}
      </ng-container>
      <ng-container *ngSwitchCase="'required'">
        {{errorMessage(error.key)?.i18nKey || 'field.error.required' | translate}}
      </ng-container>
      <ng-container *ngSwitchCase="'email'">
        {{errorMessage(error.key)?.i18nKey || 'field.error.email' | translate}}
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{errorMessage(error.key)?.i18nKey || 'field.error.invalid' | translate}}
      </ng-container>
    </ng-container>
  </div>
</ng-template>
