<ec-page>
  <div top-right>
    <div class="shadow flex">
      <input class="w-full rounded p-2" type="text"
             (input)="onSearchChange($event)"
             [placeholder]="'field.label.search' | translate : {value: 'document.label' | translate }">
    </div>
  </div>

  <div *ngIf="documents$ | async as documents"
       class="md:w-4/5 lg:w-3/5">
    <table class="text-left w-full border-collapse bg-white shadow-md rounded my-6">
      <thead>
      <tr>
        <th class="py-4 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">Titlu</th>
      </tr>
      </thead>
      <tbody>
      <ng-container>
        <tr *ngFor="let document of documents.content"
            class="hover:bg-grey-lighter cursor-pointer" [routerLink]="document.id">
          <td class="py-4 px-6 border-b border-grey-light">
            <h3>{{document.title}}</h3>
          </td>
        </tr>
      </ng-container>
      <tr class="hover:bg-grey-lighter cursor-pointer" routerLink="new">
        <td class="py-4 px-6 border-b border-grey-light">
          <h3>{{'common.add' | translate : {value: 'document.label' | translate} }}</h3>
        </td>
      </tr>
      </tbody>
    </table>
    <ec-paginator [totalPages]="documents.totalPages"
                  [pageNumber]="documents.pageable.pageNumber"
                  (pageNumberChanged)="onPageChanged($event)">
    </ec-paginator>
  </div>
</ec-page>
